In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup

### defining the format of cricket we need the statistics for

In [4]:
format =1 

format_name = ""
if format ==1:
    format_name = "Tests"
elif format ==2:
    format_name ="ODIs"
else:
    format_name = "T20s"

### specifying a player's name, then the ESPN webpage is quered using the requests library

In [8]:
player = 'Virat Kohli'
url = "https://search.espncricinfo.com/ci/content/player/search.html?search=" + player.lower().replace(" ","+") + "&x=0&y=0"
page = requests.get(url)

inside this page we get access to the url that leads to a player's home page.
Here, we will use the BeautifulSoap library to find the hyperlink that contains the player's ID.
Once we get the ID, we can query a player's stats using the requests library. 
Using pandas to find all the tables and choose the right one that has all the stats.

In [11]:
soup = BeautifulSoup(page.content, "html.parser")
player_id = str(soup.find_all(class_= 'ColumnistSmry')[0]).split('.html')[0].split('/')[-1]
df = pd.read_html(f'https://stats.espncricinfo.com/ci/engine/player/{player_id}.html?class={format};template=results;type=batting;view=innings')[3]

In [12]:
df.head()

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Unnamed: 9,Opposition,Ground,Start Date,Unnamed: 13
0,4,13,10,1,0,40.00,5,caught,1,NaN,v West Indies,Kingston,20 Jun 2011,Test # 1997
1,15,72,54,2,0,27.77,5,caught,3,NaN,v West Indies,Kingston,20 Jun 2011,Test # 1997
2,0,1,2,0,0,0.00,5,caught,1,NaN,v West Indies,Bridgetown,28 Jun 2011,Test # 1998
3,27,118,107,1,1,25.23,5,caught,3,NaN,v West Indies,Bridgetown,28 Jun 2011,Test # 1998
4,30,62,53,2,0,56.60,5,caught,2,NaN,v West Indies,Roseau,6 Jul 2011,Test # 1999